{% extends 'games/base.html' %}
{% block content %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'games/style.css' %}" />

  <title>Strona Główna</title>

  {% if low_stock_games and request.user.is_superuser %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert" data-bs-toggle="collapse" data-bs-target="#lowStockGamesList" aria-expanded="false" aria-controls="lowStockGamesList">
      <strong>Uwaga!</strong> Niektóre gry mają mniej niż 4 dostępne egzemplarze. Kliknij w alert aby wyświetlić szczegóły. <strong>(Powiadomienie widoczne tylko dla Administratora)</strong><div id="lowStockGamesList" class="collapse">
        <ul>
          {% for game_info in low_stock_games %}
            <li>
              <a href="/detail/{{ game_info.game.name }}">{{ game_info.game.name }} <strong>({{ game_info.available_count }})</strong></a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endif %}

  {% if game_list %}
    <div class="row game-list">
      {% for game in game_list %}
        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
          <a href="/detail/{{ game.name }}" class="card-link">
            <div class="game-item card">
              <img src="{{ game.image.url }}" alt="{{ game.image.url }}" class="card-img-top" />
              <div class="card-body">
                <h3 class="game-title card-title">{{ game.name }}</h3>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
    <nav aria-label="Page navigation">
      <ul class="pagination">
        {% if game_list.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page=1">&laquo</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page={{ game_list.previous_page_number }}">Poprzednia</a>
          </li>
        {% endif %}
        {% for page in game_list.paginator.page_range %}
          {% if game_list.has_other_pages %}
            {% if game_list.number == page %}
              <li class="page-item active">
                <span class="page-link">{{ page }}<span class="sr-only"></span></span>
              </li>
            {% elif page > game_list.number|add:'-3' and page < game_list.number|add:'3' %}
              <li class="page-item">
                <a class="page-link" href="?page={{ page }}">{{ page }}</a>
              </li>
            {% endif %}
          {% endif %}
        {% endfor %}
        {% if game_list.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ game_list.next_page_number }}">Następna</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page={{ game_list.paginator.num_pages }}">&raquo;</a>
          </li>
        {% endif %}
      </ul>
    </nav>
  {% else %}
    <p>Brak dostępnych gier!</p>
  {% endif %}
{% endblock %}
