{% extends 'games/base.html' %}
{% block content %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'games/style.css' %}" />

  <title>Rezerwacja :: {{ game_name }}</title>
  <div class="shadow p-5 mb-5 bg-body rounded">
    <div class="d-flex align-items-center">
      <div>
        <h3>Szczegóły rezerwacji</h3>
        <p>
          <strong>Nazwa gry:</strong> {{ game_name }}
        </p>
        <p>
          <strong>ID Gry:</strong> {{ game_id }}
        </p>
        <p>
          <strong>ID Egzemplarza:</strong> {{ game_instance }}
        </p>
        <p>
          <strong>Data rezerwacji:</strong> {{ reservation_date }}
        </p>
        <p>
          <strong>Koniec rezerwacji:</strong> {{ reservation_end_date }}
        </p>
        <form method="POST" action="{% url 'reservation_confirm' game_name %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-success">Potwierdź</button>
        </form>
      </div>
      <div class="ms-auto">
        <img src="{{ game_image }}" alt="{{ game_image }}" class="img-fluid custom-img" />
      </div>
    </div>
  </div>
{% endblock %}
